<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
<title>ファイルアップロード</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <h1>ファイルをアップロード</h1>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">判定する</button>
            </form>
            <!-- <button type="button">判定する</button> -->
        {% endif %}
    {% else %}
        <h1>ログインしてください！</h1>
    {% endif %}
    <!-- <hr /> -->
    <!-- Dec/26/2018<p /> -->
</body>
</html>