{% load static %}
<html>

<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <h1><a href="/">My Portfolio</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2>ここはMossのポートフォリオ予定地です。</h2>
                <p>【コンテンツ一覧】</p>
                <a href="/ml/machine_learning/">機械学習を用いたファイル判定システム</a>
                <p>※特定ユーザー以外の利用不可</p>

            </div>
        </div>
    </div>
</body>

</html>